<template name="Index">
  <div class="ui grid head">
    <div class="twelve wide column">
      <h1 class="ui header">Latest packages</h1>
    </div>
    <div class="four wide column">
      <div class="ui search">
        <input class="prompt" type="text" placeholder="Search...">
      </div>
    </div>
  </div>
  <section class="latest">
    <table class="ui table">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {{#each latest}}
          <tr>
            <td><a href="{{pathFor 'package' pkgname=name}}">{{name}}</a> <img src="/{{name}}.svg" /></td>
            <td>
              <div class="ui label">
                {{latestVersion.version}}
              </div>
            </td>
            <td>{{formatLocalized latestVersion.published}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</template>
