<template name="Package">
  <h1 class="ui header"><a href="">{{package.name}}</a> ({{package.currentVersion.version}})</h1>
  <div class="package-data">
    <img src="/{{package.name}}.svg" />
    <p>
      Last update: {{formatLocalized package.lastUpdated}}
    </p>
  </div>

  <section class="package">
    <h2 class="ui header">Dependencies</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th>Package</th>
          <th>Required version</th>
          <th>Latest version</th>
          <th>Last update</th>
        </tr>
      </thead>
      <tbody>
        {{#each package.dependencies}}
          <tr>
            <td><a href="{{pathFor 'package' pkgname=name}}">{{name}}</a> <img src="/{{name}}.svg" /></td>
            <td>
              <div class="ui green label" data-status="{{package.getDepStatus name}}">
                {{#with package.getDepVersion name}}
                  {{constraint}}
                {{/with}}
              </div>
            </td>
            <td>
              <div class="ui label">
                {{currentVersion.version}}
              </div>
            </td>
            <td>{{formatLocalized lastUpdated}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</template>
